@font-face {
    font-family: 'Formular';
    src: url('src/fonts/formular-neutral-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonym';
    src: url('src/fonts/Antonym.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}