input[type="submit"] {
    color: $cLight;
    background: $color;
    border: 1px solid $color;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    height: 68px;
    line-height: 68px;
    padding: 0 16px;
    width: 100%;
    transition: .2s $easingSmooth border-color,
                .2s $easingSmooth color,
                .2s $easingSmooth box-shadow;
    text-align: center;
    @include tablet {
        font-size: 24px;
    }

    &:focus {
        color: $cLight;
    }

    &:disabled {
        opacity: .6;
        pointer-events: none;
    }
}
