@font-face {
    font-family: 'GT America Trial';
    src: url('/fonts/GTAmericaTrial-ExpBd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmericaTrial-ExpRgIt.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmericaTrial-ExpBdIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmericaTrial-ExpBlIt.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmericaTrial-ExpMdIt.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmericaTrial-ExpRg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmericaTrial-ExpBl.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmericaTrial-ExpMd.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}