%heading-1 {
    font-family: $font-family;
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    line-height: 1.02;
    letter-spacing: -0.68px;
    text-transform: uppercase;
    margin: 0 0 90px;
    @include desktop {
        font-size: 74px;
        margin: 40px 0 72px;
    }
}
%heading-2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 94%;
    text-transform: uppercase;
    margin: 0 0 50px;
    @include desktop {
        font-size: 74px;
        margin: 0 0 100px;
    }
}
%heading-3 {
    font-family: $font-family;
    font-size: 34px;
    font-weight: 900;
    line-height: .97; /* 32.98px */
    text-transform: uppercase;
    margin: 55px 0 40px;
    @include desktop {
        margin-top: 84px;
    }
}
%heading-4 {
    font-family: $font-family;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    @include desktop {
        font-size: 26px;
    }
}
%heading-5 {
    font-family: $font-family;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    @include desktop {
        font-size: 13px;
    }
}

h1,
.heading-1 {
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
h4,
.heading-4 {
    @extend %heading-4;
}
h5,
.heading-5 {
    @extend %heading-5;
}
