
.menu {
    z-index: 9;
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    flex-direction: column;
    gap: 13px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 136px 40px 32px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 10;
    transition: .2s $easingSmooth opacity,
                .2s $easingSmooth transform;
    @include desktop {
        flex-direction: row;
        align-items: center;
        opacity: 1;
        pointer-events: all;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        gap: 0;
        height: auto;
        width: auto;
    }


    .menu-opened & {
        opacity: 1;
        pointer-events: all;
    }

    &_links {
        display: flex;
        flex-direction: row;
    }

    &_link {
        background-color: $color;
        color: $cLight;
        font-size: 14px;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        height: 64px;
        line-height: 64px;
        padding: 0 18px;

        &:hover {
            background: linear-gradient(79deg, #1B1B1B 3.31%, #FF5208 71.93%, #FF5208 91.85%);;
        }

        &:first-child {
            border-radius: 8px 0 0 8px;
        }
        &:last-child {
            border-radius: 0 8px 8px 0;
        }
    }

    &_logo {
        position: absolute;
        top: 34px;
        left: 32px;
        width: 59px;
        @include desktop {
            display: none; 
        }
    }
}
