.section {
    overflow: hidden;
    padding-bottom: 120px;
    @include desktop {
        padding-bottom: 220px;
    }


    &__beige, 
    &__blue,
    &__purple {
        padding-top: 74px;
        @include desktop {
            padding-top: 154px;
        }
    }

    &__beige {
        background-color: #D5D3C6;
    }

    &__blue {
        background-color: #CAD2F5;
    }

    &__purple {
        background-color: #D5CFFC;
    }

    &__small-indent {
        padding-bottom: 65px;
        @include desktop {
            padding-bottom: 113px;
        }
    }
    
    &_content {
        @include layout;
    }
}