.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    @include tablet {
        gap: 16px;
    }
}

.tag {
    @include button-reset;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    letter-spacing: -1px;
    padding: 0 8px;
    font-weight: 400;
    background-color: rgba(#000, .05);
    color: $color;
    margin: 0;
    transition: .2s $easingSmooth background-color,
                .2s $easingSmooth color;
    @include tablet {
        font-size: 28px;
        line-height: 45px;
        letter-spacing: -0.8px;
        height: 45px;
        padding: 0 18px;
    }
    @include big-height {
        font-size: 32px;
        line-height: 60px;
        letter-spacing: -0.8px;
        height: 60px;
        padding: 0 24px;
    }

    &:hover,
    &.active,
    input:checked + & {
        background-color: $color;
        color: $cLight;
    }
}