---
import Layout from "../layouts/Layout.astro";
import Ticker from "../components/Ticker.astro";
import TickerBig from "../components/TickerBig.astro";
import EventsSlider from "~/components/EventsSlider.astro";
import Events from "~/components/Events.astro";
import Stories from "~/components/Stories.astro";
import Facts from "~/components/Facts.astro";
import Challenges from "~/components/Challenges.astro";
---

<Layout title="Welcome to Astro.">
    <section class="section">
        <div class="section_content">
            <h1>Your Gateway to Events, Speakers, and Challenges</h1>
            <Ticker />

            <div class="stats">
                <div class="stats_item">
                    <span class="stats_value">9</span>
                    <span class="stats_label">Signature Events</span>
                </div>
                <div class="stats_item">
                    <span class="stats_value">6</span>
                    <span class="stats_label">Top-tier Speakers</span>
                </div>
                <div class="stats_item">
                    <span class="stats_value">8</span>
                    <span class="stats_label">Thrilling Challenges</span>
                </div>
                <div class="stats_item">
                    <span class="stats_value">2</span>
                    <span class="stats_label">'Impact' Initiative</span>
                </div>
            </div>

            <div class="showcase">
                <div class="showcase_video-wrapper">
                    <video src="" class="showcase_video"></video>
                </div>
                <p class="showcase_text">
                    <span>2024-2025</span> unfolds as a landmark year for our Event Calendar, centered around our ethos: <strong>Learn, Connect, Inspire</strong>. Engage with the <strong>People and Places of Miami</strong> as we unite a vibrant community committed to shaping the future through innovation and shared experiences.
                </p>
                <button>
                    Click & <span class="stroke-text">WOW</span>
                </button>
            </div>
        </div>

        <TickerBig>
            Icon
            <span class="stroke-text">People</span>
            and
            <span class="stroke-text">Places</span>
            of Miami
        </TickerBig>

        <EventsSlider title="UPCOMING EVENTS" />
    </section>

    <section>
        <div class="section_content">
            <Events title="List EVENTS" />

            <Stories title="Last Stories" />

            <Facts title="QUICK FACTS..." />
        </div>
        
        <TickerBig>
            Challenge <span class="stroke-text">Everything</span> Win Everyday Challenge Everything. <span class="stroke-text">Win Everyday</span>
        </TickerBig>
    </section>

    <section>
        <Challenges title="Challenge Showcase" />
    </section>

    <section>
        <div class="section_content">
            <div class="about">
                <h2>For more about us and our Leadership, visit our Mission page to dive deeper into our vision</h2>
                <a href="#" class="about_link">Explore Our Mission & Leadership</a>
            </div>
        </div>
    </section>
</Layout>
