---
import Layout from "../layouts/Layout.astro";
import Ticker from "../components/Ticker.astro";
import TickerBig from "../components/TickerBig.astro";
---

<Layout title="Welcome to Astro.">
    <section class="section">
        <div class="section_content">
            <h1>Your Gateway to Events, Speakers, and Challenges</h1>
            <Ticker>
                <strong>Sept 1, 2024</strong> — Ken Griffen /
                <strong>oct 1, 2024</strong> — Greg Norman & Bubba Watson /
                <strong>Nov 1, 2024</strong> — Andrea Kaplan /
                <strong>Febr 1, 2025</strong> — Carlos de la Cruz & Stephen Davis /
                <strong>Mar 1, 2025</strong> — Daniella Levine Cava /
                <strong>APR 1, 2025</strong> — Members' homes /
                <strong>APR 1, 2025</strong> — Costa Rica Ritz Carlton /
                <strong>may 1, 2025</strong> — Alejandro Reynal & Barry Sternlicht /
                <strong>jul 1, 2025</strong> — YPO's Worldwide Jet Trip
            </Ticker>

            <div class="stats">
                <div class="stats_item">
                    <span class="stats_value">9</span>
                    <span class="stats_label">Signature Events</span>
                </div>
                <div class="stats_item">
                    <span class="stats_value">6</span>
                    <span class="stats_label">Top-tier Speakers</span>
                </div>
                <div class="stats_item">
                    <span class="stats_value">8</span>
                    <span class="stats_label">Thrilling Challenges</span>
                </div>
                <div class="stats_item">
                    <span class="stats_value">2</span>
                    <span class="stats_label">'Impact' Initiative</span>
                </div>
            </div>

            <div class="showcase">
                <div class="showcase_video-wrapper">
                    <video src="" class="showcase_video"></video>
                </div>
                <p class="showcase_text">
                    <span>2024-2025</span> unfolds as a landmark year for our Event Calendar, centered around our ethos: <strong>Learn, Connect, Inspire</strong>. Engage with the <strong>People and Places of Miami</strong> as we unite a vibrant community committed to shaping the future through innovation and shared experiences.
                </p>
                <button>
                    Click & <span class="stroke-text">WOW</span>
                </button>
            </div>

        </div>
        
        <TickerBig>
            Icon
            <span class="stroke-text">People</span>
            and
            <span class="stroke-text">Places</span>
            of Miami
        </TickerBig>
    </section>
</Layout>
