@mixin button {
    display: inline-block;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
    color: $cGray;
    border: 1px solid currentColor;
    border-radius: 24px;
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 30px;
    font-family: $font-family;
    min-width: 250px;
    width: 100%;
    transition: .3s $easing background,
                .2s $easing color,
                .2s $easing border-color;
    @include tablet {
        width: auto;
    }

    &:hover {
        // background: linear-gradient(45deg, #141418 13.06%, #787891 99.63%);
        color: $cLight;
    }

    &:active {
        // background: $color;
        color: $cLight;
    }

    &:disabled {
        pointer-events: none;
        opacity: .6;
    }
}

.button,
button,
input[type="button"] {
    @include button;
}

