.form {
    padding: 23px 0 0;
    margin: auto;

    &_caption {
        font-size: 20px;
        max-width: 390px;
        @include tablet {
            margin-bottom: 20px;
        }
        @include big-height {
            margin-bottom: 40px;
        }
    }

    &_row {
        margin: 0 0 10px;
        position: relative;
    }

    &_error {
        font-size: 14px;
        line-height: 19px;
        color: #ff0000;
        position: absolute;
        left: 0;
        bottom: -27px;
        display: none;

        .error & {
            display: block;
        }
    }

    &_success-text,
    &_unfilled-text {
        display: none;
        font-size: 20px;
        line-height: 24px;
        padding: 16px 0 10px;
        @include tablet {
            font-size: 58px;
            line-height: 59px;
        }

        
    }

    &_success-text {
        position: relative;

        .success & {
            display: block;
        }
    }

    &_success-arrow {
        position: absolute;
        left: 255px;
        top: 0;
    }

    &_unfilled-text {
        .unfilled & {
            display: block;
        }
    }

    &.success input[type="submit"],
    &.unfilled input[type="submit"] {
        display: none;
    }

    &.filled input[type="text"]:placeholder-shown,
    &.filled input[type="email"]:placeholder-shown
    .error input[type="email"] {
        @include placeholder-color($cBright);
        border-bottom-color: $cBright;
    }
}
