input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"] {
    @include placeholder-color(#BBBBBB);
    color: $color;
    background: transparent;
    border: none;
    border-bottom: 1px solid $color;
    border-radius: 0;
    box-sizing: border-box;
    font: 38px/1 $font-family;
    letter-spacing: -1.9px;
    height: auto;
    padding: 16px 0;
    width: 100%;
    transition: .2s $easingSmooth border-color,
                .2s $easingSmooth color,
                .2s $easingSmooth box-shadow;
    @include tablet {
        max-width: 604px;
    }
    @include big-height {
        font-size: 58px;
    }

    &:focus {
        color: $color;
    }

    .error & {
        @include placeholder-color(#ff0000);
        border-color: #ff0000;
    }
}
