---
export interface Props {
    jsonSrc?: string;
    title: string;
    text: string;
    color?: string;
}

const { jsonSrc, color, title, text } = Astro.props;
---

<div class="card" style={`background-color: ${color || '#ECECDA'}`}>
    <span class="card_title">{title}</span>
    <div class="card_image-wrapper">
        <lottie-player class="card_image" src={jsonSrc} background="transparent" speed="1" loop autoplay />
    </div>
    <span class="card_text">{text}</span>
</div>
