---
export interface Props {
    period: string;
    src?: string;
    title: string;
    color?: string;
}

const { src, color, title, period } = Astro.props;
---

<div class="challenge">
    <span class="challenge_period" style={`background-color: ${color || '#ECECDA'}`}>{period}</span>
    <video src={src} class="challenge_image" loop muted autoplay playsinline>
    <div class="challenge_content" style={`background-color: ${color || '#ECECDA'}`}>
        <span class="challenge_title">{title}</span>
        <span class="challenge_subtitle">
            <slot />    
        </span>
    </div>
</div>
