---
import EventSlide from "~/components/EventSlide.astro";

export interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<div class="events-slider">
    <div class="events-slider_bg">
        <div class="events-slider_bg-image" />
    </div>
    <div class="events-slider_content">
        <h2>{title}</h2>
        <div class="events-slider_slides">
            <div class="swiper-holder">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <EventSlide
                                color="#A18EF6"
                                date="September 28, 2024"
                                label="learn" title="Ken"
                                title2="Griffin"
                                subtitle="An enlightening evening with Ken Griffin, discussing..."
                                src="/img/events/event-1.png"
                                jsonSrc="/img/events/animation-1/data.json"
                            />
                        </div>
                        <div class="swiper-slide">
                            <EventSlide
                                color="#EFFFAC"
                                date="October 22, 2024"
                                label="inspire"
                                title="Lee"
                                title2="Hausner"
                                subtitle="Parents will receive education on how to raise privileged children..."
                                src="/img/events/event-2.png"
                                jsonSrc="/img/events/animation-2/data.json"
                            />
                        </div>
                        <div class="swiper-slide">
                            <EventSlide
                                color="#D5D3C6"
                                date="November 16, 2024"
                                label="connect"
                                title="Greg Norman &"
                                title2="Bubba Watson"
                                subtitle="This event will feature golf legends Greg Norman and..."
                                src="/img/events/event-3.png"
                                jsonSrc="/img/events/animation-3/data.json"
                            />
                        </div>
                        <div class="swiper-slide">
                            <EventSlide
                                color="#A6F7F7"
                                date="January 11, 2025"
                                label="connect"
                                title="Alejandro Reynal & "
                                title2="Barry Sternlicht"
                                subtitle="Hear from leaders of two incredible hospitality brands..."
                                src="/img/events/event-4.png"
                                jsonSrc="/img/events/animation-4/data.json"
                            />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
    
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

</div>
<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";
    const swiper = new Swiper(".swiper", {
        loop: false,
        modules: [Navigation, Pagination],
        spaceBetween: 20,
        slidesPerView: 1,
        breakpoints: {
            768: {
                slidesPerView: 'auto',
            },
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
