<footer class="footer">
    <div class="footer_holder">
        <div class="footer_top">
            <a href="/" class="footer_logo">
                <img src="/img/logo-footer.svg" alt="" />
            </a>
            <div class="footer_menu">
                <!---
                    <a href="/solutions" class="footer_menu-link">Solutions</a>
                -->
                <a href="/team" class="footer_menu-link">Meet our team</a>
                <a href="/culture" class="footer_menu-link">Careers & Culture</a>
                <a href="/contact" class="footer_menu-link">Contact</a>
                <!--
                    <a href="/solutions" class="footer_menu-link">Excel Merch</a>
                 -->
                <a href="/backgrounds" class="footer_menu-link">Meeting backgrounds</a>
                <!-----
                    <a href="/backgrounds" class="footer_menu-link">Our merch</a>
                -->
                <a href="https://drive.google.com/file/d/1uqQwmyUcIgLFSyu--k3mbyY0MULrTFqy/view?usp=sharing" class="footer_menu-link" download target="__blank">
                    Brand guidelines
                    <img class="footer_menu-link-icon" src="/img/download-light.svg" alt="">
                </a>
                <a href="https://drive.google.com/file/d/12_S7C6XJPdn9OHSFCCMKoAjec1Yl27zb/view" class="footer_menu-link" download target="__blank">
                    Our values
                    <img class="footer_menu-link-icon" src="/img/download-light.svg" alt="">
                </a>
                <a href="/policy" class="footer_menu-link">Privacy Policy</a>
                <a href="/terms" class="footer_menu-link">Terms of Use</a>

               <div class="social">
                    <a href="https://www.linkedin.com/company/excelimpact/mycompany/" class="social_link" target="_blank">
                        <img src="/img/social/ln.svg" alt="" />
                    </a>
                    <a href="https://www.facebook.com/excelimpact" class="social_link" target="_blank">
                        <img src="/img/social/fb.svg" alt="" />
                    </a>
                    <a href="https://twitter.com/excel_impact" class="social_link" target="_blank">
                        <img src="/img/social/twitter.svg" alt="" />
                    </a>
                    <a href="https://dribbble.com/Excel_Team" class="social_link" target="_blank">
                        <img src="/img/social/dribble.svg" alt="" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCghuBVb4uncfUAYzbH9RaSA" class="social_link" target="_blank">
                        <img src="/img/social/youtube.svg" alt="" />
                    </a>
                </div>
            </div>
            <div class="footer_partner">
                <a href="/become-partner" class="button">
                    <span class="button_text">Become a partner</span>
                </a>
                <span class="footer_slogan">Helping insurance brands acquire the right customers at scale.</span>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_bottom-left">
                <div class="footer_brands">
                    <a target="_blank" href="https://www.prweb.com/releases/excel_impact_named_to_inc_5000_list_for_second_year_in_a_row/prweb15698209.htm">
                        <img src="/img/inc500.svg" alt="" class="footer_brand-image" />
                    </a>
                    <a target="_blank" href="https://www.prweb.com/releases/2017/11/prweb14907209.htm">
                        <img src="/img/deloitte.svg" alt="" class="footer_brand-image" />
                    </a>
                    <a target="_blank" href="https://www.prweb.com/releases/2018/05/prweb15508976.htm">
                        <img src="/img/ey.svg" alt="" class="footer_brand-image" />
                    </a>
                </div>
            </div>
            <span class="footer_copyrights">© 2023 Excel™ All rights reserved.</span>
        </div>
    </div>
</footer>
