<footer class="footer">
    <div class="footer_holder">
        <div class="footer_top">
            <div class="footer_menu">
                <a href="/team" class="footer_menu-link">Events</a>
                <a href="/culture" class="footer_menu-link">Your Challenge</a>
                <a href="/contact" class="footer_menu-link" target="_blank">Mission</a>
                <a href="/contact" class="footer_menu-link footer_menu__soon" target="_blank">Global Impact</a>
            </div>
            <button class="footer_top-button">BACK TO TOP</button>
        </div>
        <div class="footer_bottom">
            <span class="footer_copyrights">©2024 All rights reserved.</span>
            <div class="footer_icons">
                <a target="_blank" href="#">
                    <img src="/img/logo-footer.svg" alt="" />
                </a>
                <a target="_blank" href="#">
                    <img src="/img/iconic.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</footer>
