<footer class="footer">
    <div class="footer_holder">
        <div class="footer_top">
            <div class="footer_menu">
                <a href="/#events" class="footer_menu-link">Events</a>
                <a href="/#challenge" class="footer_menu-link">Your Challenge</a>
                <a href="/mission" class="footer_menu-link">Mission</a>
                <a href="/contact" class="footer_menu-link footer_menu__soon" target="_blank">Global Impact</a>
            </div>
            <button class="footer_top-button">BACK TO TOP</button>
        </div>
        <div class="footer_middle">
            <div class="footer_player">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO07zaak?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="footer_contacts">
                <span class="footer_contacts-title">Connect With Us:</span>
                <a href="#" class="footer_contacts-link">Whatsappchannel</a>
                <a href="mailto:Hello@IconicMiami.com" class="footer_contacts-link">Hello@IconicMiami.com</a>
            </div>
        </div>
        <div class="footer_bottom">
            <span class="footer_copyrights">©2024 All rights reserved.</span>
            <span class="footer_madeby">
                Design BY 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M10.65 2.59375C9.59375 2.59375 8.625 3.0875 8 3.9C7.375 3.0875 6.40625 2.59375 5.35 2.59375C3.50312 2.59375 2 4.10312 2 5.95937C2 6.83125 2.33125 7.65937 2.93438 8.29062L7.65938 13.0625L8 13.4062L8.34062 13.0625L12.975 8.38125C13.6313 7.74688 14 6.88438 14 5.95937C14 4.10312 12.4969 2.59375 10.65 2.59375Z" fill="#FF008C"/>
                </svg>
                <a href="https://t-o-o-o-gether.com/" target="_blank">tooogether agency</a>
            </span>
            <div class="footer_icons">
                <a target="_blank" href="#">
                    <img src="/img/logo-footer.svg" alt="" />
                </a>
                <a target="_blank" href="#">
                    <img src="/img/iconic.svg" alt="" />
                </a>
            </div>
            
        </div>
    </div>
</footer>
