$img: "src/img";

$color: #000;
$cLight: #fff;
$cBright: #FF008C;
$cGreen: #1E5032;

$cGray: #B0B0BF;
$cGrayDark: #787891;
$cGreenDark: #7E9C07;
$cPurple: #BF9FFF;
$cCard: #131218;

$font-family: 'Formular', helvetica, arial;

$font-size: 58px;
$font-size__small: 34px;

$max-width: 1664px;
$indent: 32px;

// easings
$easingSmooth: cubic-bezier(0.38, 0.005, 0.215, 1);
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easingSmooth;

#lottie {
    background-color: #141418;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1;
}
