---
import Layout from "../../layouts/Layout.astro";
import Ticker from "../../components/Ticker.astro";

---

<Layout title="Family Flotilla Day">
    <section class="section">
        <div class="section_content">
            <div class="event-page">
                <span class="event-page_label">Events</span>
                <h1>Family Flotilla Day</h1>

                <div class="event-page_data">
                    <div class="event-page_data-content">
                        <div class="event-page_data-row">
                            <span class="event-page_date">May 11, 2024 </span>
                            <span class="event-page_time">11:00 am TO 4:00 pm </span>
                        </div>
                        <div class="event-page_data-row">
                            <span class="event-page_place">Nixon Sandbar, Key Biscayne</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="showcase showcase__small-indent">
                <div class="showcase_video-wrapper">
                    <video src="" class="showcase_video"></video>
                </div>
            </div>

        </div>
        <Ticker />
    </section>

    <section class="section section__beige">
        <div class="section_content">
            <div class="program">
                <h3 class="program_title">PROGRAM</h3>
                
                <div class="program_description">
                    <p>Join us for the "Family Flotilla Day" at Nixon Sandbar, Key Biscayne, on May 11, 2024, from 11 am to 4 pm. This event promises a delightful day on the water, where you can bring your boat and family to soak up the sun and fun. Nixon Sandbar offers an idyllic setting for creating unforgettable memories. Elevate your experience with AquaBanas’ floating platforms, turning the event into a spectacular water party. Don't miss this chance to be the life of the party on the waves!</p>
                </div>

                <ul class="schedule">
                    <li class="schedule_item">
                       <strong>11:00 AM:</strong> Kickoff and Welcome
                    </li>
                    <li class="schedule_item">
                       <strong>12:00 AM:</strong> Family Water Games and Activities
                    </li>
                    <li class="schedule_item">
                       <strong>1:00 AM:</strong> Lunch on the Water (Bring Your Picnic)
                    </li>
                    <li class="schedule_item">
                       <strong>2:00 AM:</strong> AquaBanas Floating Party Time
                    </li>
                    <li class="schedule_item">
                       <strong>3:00 AM:</strong> Relaxation & Networking
                    </li>
                    <li class="schedule_item">
                       <strong>4:00 AM:</strong> Event Close
                    </li>
                </ul>

                <h3>Event Coordinator</h3>
                <div class="program_coordinator">
                    <div class="program_coordinator-avatar">
                        <img src="/img/hi.svg" alt="" class="program_coordinator-top-label">
                        <img src="/img/learning-officers.svg" alt="" class="program_coordinator-bottom-label">
                        <img class="program_coordinator-image" src="/img/coordinator.png" alt="">
                    </div>
                    <div class="program_coordinator-info">
                        <div class="program_coordinator-info-item">
                            <span class="program_coordinator-info-title">Alex Matseikovich</span>
                            <span class="program_coordinator-info-value">Learning Officers</span>
                        </div>
                        <div class="program_coordinator-info-item">
                            <span class="program_coordinator-info-title">Contact</span>
                            <a href="matseikovich@gmail.com" class="program_coordinator-info-value">matseikovich@gmail.com</a>
                        </div>
                    </div>
                </div>

                <div class="program_bottom">
                    <h3>Spots are filling up fast!</h3>

                    <div class="program_slogan">
                        <img class="program_slogan-image" src="/img/heart.svg" alt="">
                        <span class="program_slogan-title">Join the <strong>1000 000</strong> fans who adore this event. Click to register now!</span>
                    </div>

                    <div class="program_buttons">
                        <a href="#" class="button-link button-link__dark">
                            REGISTER NOW
                            <img src="/img/arrow-outside.svg" alt="" class="button-link_icon">
                        </a>
                        <a href="#" class="button-link">
                            add to calendar
                            <img src="/img/calendar-check.svg" alt="" class="button-link_icon">
                        </a>
                        <a href="#" class="button-link">Download Event Guide</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
