@charset "UTF-8";

@import "const";
@import "mixins";
@import "placeholders";

/* basic */
@import "basic/normalize";
@import "basic/fonts";
@import "basic/default";

/*Form elements*/
@import "form-elements/button";
@import "form-elements/input-text";
@import "form-elements/textarea";
@import "form-elements/checkbox";
@import "form-elements/label";
@import "form-elements/form";
@import "form-elements/submit";

/*layout*/
@import "layout/headings";
@import "layout/header";
@import "layout/logo";
@import "layout/footer";
@import "layout/menu";
@import "layout/menu-toggle";
@import "layout/tabs";
@import "layout/copyright";
@import "layout/tags";
@import "layout/preloader";

/* other */
@import "other/contacts";

/* plugins */

