.event-slide {
    display: block;
    border-radius: 18px;
    position: relative;
    color: $color;
    text-decoration: none;
    @include tablet {
        width: 822px;
    }

    &_date {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 40px 20px 40px 84px;
        position: relative;
        display: block;
        @include desktop {
            font-size: 24px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 42px;
            top: 40px;
            height: 24px;
            width: 24px;
            background-color: currentColor;
        }
    }

    &_content {
        text-transform: uppercase;
        color: $color;
        padding: 42px;
        margin: -50px 0 0;
        position: relative;
    }

    &_title {
        font-size: 30px;
        font-weight: 900;
        line-height: 94%;
        display: block;
        margin: 24px 0 16px;
        @include desktop {
            font-size: 42px;
        }
    }

    &_subtitle {
        display: block;
        font-size: 28px;
        font-weight: 500;
        line-height: 104%;
        min-height: 116px;
        padding-right: 50px;
        @include desktop {
            padding-right: 140px;
        }
    }

    &_label {
        position: absolute;
        height: 60px;
        width: auto;
        left: -14px;
        top: 128px;
        z-index: 2;
        @include tablet {
            height: 94px;
            left: -25px;
            top: 300px;
        }
    }

    &_arrow {
        width: 46px;
        height: 46px;
        position: absolute;
        right: 0;
        bottom: 0;
        right: 10px;
        bottom: 50px;
        @include desktop {
            width: 102px;
            height: 101px;
            right: 32px;
            bottom: 42px;
        }
    }
}