.events-slider {
    &_bg {
        background-color: $color;
        padding: 0 0 362px;
        @include desktop {
            padding: 0;
        }
    }

    &_bg-image {
        display: block;
    }

    &_content {
        @include layout;
        margin-top: -228px;
        color: $cLight;
        @include desktop {
            margin-top: -283px;
        }
    }
}