.event-slide {
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    color: $color;

    &_date {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 40px 20px 40px 84px;
        position: relative;
        @include desktop {
            font-size: 24px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 42px;
            top: 40px;
            height: 24px;
            width: 24px;
            background-color: currentColor;
        }
    }

    &_content {
        text-transform: uppercase;
        color: $color;
        padding: 42px;
        margin: -50px 0 0;
    }

    &_title {
        font-size: 30px;
        font-weight: 900;
        line-height: 94%;
        display: block;
        margin: 24px 0 16px;
        @include desktop {
            font-size: 42px;
        }
    }

    &_subtitle {
        display: block;
        font-size: 28px;
        font-weight: 500;
        line-height: 104%;
    }

    &_label {
        position: absolute;
        height: 60px;
        left: -40px;
        top: 88px;
        @include desktop {
            height: 94px;
            left: -44px;
            top: 55%;
        }
    }
}