.events-slider {
    &_bg {
        background-color: $color;
        height: 504px;
        @include desktop {
            padding: 0;
            height: 650px;
        }
    }

    &_bg-image {
        display: block;
    }

    &_content {
        @include layout;
        margin-top: -430px;
        color: $cLight;
        @include desktop {
        }
    }
}