.stats {
    display: flex;
    padding: 52px 0;
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
    position: relative;
    @include desktop {
        padding: 74px 0;
        justify-content: space-between;
        gap: 50px;
    }

    &_item {
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        left: 0;
        top: 52px;
        width: 100%;
        opacity: 0;
        text-align: center;
        justify-content: center;
        transition: .3s $easingSmooth opacity;
        @include tablet {
            opacity: 1;
            position: static;
            text-align: left;
            justify-content: flex-start;
            gap: 30px;
        }

        &:first-child {
            position: static;
        }

        &.active {
            opacity: 1;
        }
    }

    &_value {
        font-size: 74px;
        font-weight: 900;
        line-height: .96;
        letter-spacing: -1.48px;
        text-transform: uppercase;
    }

    &_label {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.03;
        letter-spacing: -0.56px;
        text-transform: uppercase;
    }
}